<style>

    .footer {
        background-color: black;
        color: white;
        padding: 20px 0;
    }

    .footer a {
        color: #D3A246;
        text-decoration: none;
    }

    .footer-icon {
        font-size: 1.5rem;
    }

</style>

<footer class="footer mt-auto ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-2 text-center">
				<h5>Company</h5>
				<ul class="list-unstyled">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Bug Bounty</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Refer a Friend</a></li>
				</ul>
			</div>
			<div class="col-md-2 text-center">
				<h5>Legal</h5>
				<ul class="list-unstyled">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">GDPR</a></li>
					<li><a href="#">AML Policy</a></li>
					<li><a href="#">Licenses</a></li>
				</ul>
			</div>
			<div class="col-md-2 text-center">
				<h5>Help</h5>
				<ul class="list-unstyled">
					<li><a href="#">Fees</a></li>
					<li><a href="#">Help Center</a></li>
					<li><a href="#">Security</a></li>
					<li><a href="#">Bitcoin Loans</a></li>
					<li><a href="#">Ethereum Loans</a></li>
				</ul>
			</div>
			<div class="col-md-2 text-center">
				<h5>Follow Us</h5>
				<a href="#" class="me-2 footer-icon"><i class="bi bi-facebook"></i></a>
				<a href="#" class="me-2 footer-icon"><i class="bi bi-linkedin"></i></a>
				<a href="#" class="footer-icon"><i class="bi bi-twitter"></i></a>
			</div>
		</div>
	</div>

</footer>
<div class="container-fluid p-0">
	<div style="background-color: #303030;">
		<p class="text-center py-4 text-white mb-0">© 2024 Test</p>
	</div>
</div>


