<style>
    img, span {
        display: inline;
        vertical-align: middle;
    }
</style>

<nav class="navbar navbar-expand-lg sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="homepage-admin.php">
			<img src="images/graduation-cap.png" alt="Crypto" width="35" height="35">
			<span> School System Dashboard</span>
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto" style="margin-right: 8rem">
				<li class="nav-item">
					<span class=""></span>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" id="userName">
						<?php echo htmlspecialchars($_SESSION['username']); ?>
					</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-person-circle"></i>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="login.php">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

