html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
}

table td, .table th {
    vertical-align: middle;
}

.yellow-button {

    background-color: #D3A246;
}