{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto text-center">
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="col-lg-4 col-md-6">
                <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>

                {% for flash_message in app.flashes('danger') %}
                    <div class="alert alert-danger">{{ flash_message }}</div>
                {% endfor %}

                <form method="post" action="{{ path('forgot_password') }}">
                    <div class="form-floating">
                        <input type="email" name="email" id="email" class="form-control"
                               placeholder="Enter your email address" required>
                        <label for="email">Enter your email address</label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Generate Reset Token</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
